.logo{
    width: 100px;
    height: auto;

}



.imagen-1{
    width: 1650px;
    height: 650px;
}

.imagen-2{
    width: 1650px;
    height: 650px;
}

.imagen-3{
    width: 1650px;
    height: 650px;
}